* {
    cursor: default;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: "Fira Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar,
.artboard::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track,
.artboard::-webkit-scrollbar-track {
    background: #ffffff;
}

body::-webkit-scrollbar-thumb,
.artboard::-webkit-scrollbar-thumb {
    background-color: #dac2ca;
    border: 3px solid #ffffff;
    border-radius: 15px;
}

@media screen and (max-width: 768px) {

    body::-webkit-scrollbar,
        .artboard::-webkit-scrollbar {
        height: 8px;
    }

    body::-webkit-scrollbar-track,
    .artboard::-webkit-scrollbar-track {
        background: #ffffff00;
    }

    body::-webkit-scrollbar-thumb,
    .artboard::-webkit-scrollbar-thumb {
        background-color: #dac2ca;
        border-radius: 15px;
        border: none;
    }
}

/* @media (min-width: 426px) and (max-width: 1190px) {
    body::-webkit-scrollbar-track,
    .artboard::-webkit-scrollbar-track {
        background: #ffffff00;
    }

    body::-webkit-scrollbar-thumb,
    .artboard::-webkit-scrollbar-thumb {
        background-color: #dac2ca;
        border-radius: 15px;
        border: none;
        width: 10px;
    }
} */