.additional-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: #ededed3e;
}

.text1 {
    text-align: center;
    padding: 90px 0 60px;
    font-weight: 600;
    font-size: 30px;
    color: #1a1518;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    max-width: 1500px;
}

.article {
    width: 500px;
    height: max-content;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 0px #00000033;
    background-color: #ffffff;
}

.article:nth-child(even) {
    margin: 80px 0 80px 100px;
}

.article::before {
    position: absolute;
    color: #1a1518;
    font-weight: 600;
    content: attr(value);
    margin-left: -0.33em;
    font-size: 90px;
}

.text-before::before {
    position: absolute;
    color: #1a1518;
    content: attr(value);
    width: 500px;
    margin-top: -0.7em;
    margin-left: 1em;
    font-weight: 600;
    font-size: 28px;
}

.emoji {
    position: absolute;
}

.text-article {
    padding: 29px;
    color: #1a1518;
    line-height: 28px;
    font-size: 19px;
}

.article:nth-child(1) .text-article::after {
    content: url(.//images/biceps.png);
    position: absolute;
    transform: rotate(15deg);
}

.article:nth-child(2) .text-article::after {
    content: url(.//images/text_cloud.png);
    position: absolute;
    transform: rotate(15deg);
    margin: 10px;
}

.article:nth-child(3) .text-article::after {
    content: url(.//images/note.png);
    position: absolute;
    transform: rotate(-15deg);
    margin: 10px;
}

.article:nth-child(4) .text-article::after {
    content: url(.//images/handshake.png);
    position: absolute;
    margin: 10px;
}

.article:nth-child(5) .text-article::after {
    content: url(.//images/student.png);
    position: absolute;
    margin: 10px;
}

.article:nth-child(6) .text-article::after {
    content: url(.//images/red_heart.png);
    position: absolute;
    transform: rotate(15deg);
    margin: 10px;
}

@media screen and (max-width: 426px) {
    .additional-info {
        padding-bottom: 50px;
    }

    .text1 {
        font-size: 22px;
        padding: 60px 25px 10px;
    }

    .articles {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .article {
        margin: 100px 60px 0 35px;
        width: auto;
    }

    .article::before {
        font-size: 60px;
    }

    .text-before::before {
        font-size: 18px;
        width: 220px;
    }

    .text-article {
        font-size: 16px;
        line-height: 25px;
        padding: 20px;
    }

    .article:nth-child(3n) .text-article {
        padding-top: 40px;
    }

    .article:nth-child(even) {
        margin: 100px 35px 0 60px;
    }

    .emoji img {
        width: 90px;
        top: -2em;
    }

    .article:nth-child(1) {
        margin-top: 50px;
    }

    .article:nth-child(1) .text-article::after {
        margin: 0;
        right: 20px;
    }

    .article:nth-child(4) .text-article::after {
        margin-top: 10px;
        right: 60px;
    }

    .article:nth-child(5) .text-article::after,
    .article:nth-child(6) .text-article::after {
        margin: 0;
    }
}
