.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    max-width: 1500px;
}

.review {
    margin: 0 60px 60px;
}

.avatar {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    overflow: hidden;
}

.avatar > img {
    border-radius: 50%;
}

.text-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 360px;
    padding-left: 30px;
}

.review-text {
    font-weight: 300;
    max-width: 500px;
    line-height: 1.55;
    font-size: 15px !important;
}

.review-text,
.reviewers-name > b {
    color: #1a1518;
    font-size: 18px;
}

.reviewers-name {
    margin-top: 10px;
}

.clear {
    margin-bottom: 100px;
    clear: both;
}

@media screen and (max-width: 426px) {
    .reviews {
        margin: 70px auto 0;
    }

    .review {
        margin: 0 0 80px;
    }

    .review:nth-of-type(4) {
        margin: 0 0 60px !important;
    }

    .avatar {
        display: table-row;
        text-align-last: center;
    }

    .text-wrapper {
        text-align: center;
        padding-left: 0;
    }

    .clear {
        display: none;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    
    .reviews {
        width: 100%;
    }

    .clear {
        display: none;
    }

    .text-wrapper {
        width: 500px;
    }

    .review-text {
        font-size: 18px !important;
    }

    .reviewers-name {
        font-size: 20px !important;
    }
}
